<main>
  <form action="#">
    <input type="text" class="js-search" value="" placeholder="Nombre de la serie aquí">
    <input type="button" value="Search" class="btn js-btn">
  </form>
  <ul class="films js-films">
    <!--<li class="films-each">
      <div class="films-each__container">
        <div class="films-each__container--photo">foto</div>
        <h3 class="films-each__container--text">texto</h3>
      </div>
    </li>-->
  </ul>
  
  <ul class="favorite js-favorite">
    <h3 class="favorite__title">Pelis favoritas</h3>
    
     <!--aparece cuando marquemos las favoritas = JS-->
  </ul>
</main>
