body {
  padding: 2rem;
  height: 100vh;
  background-color: $color-bg;
  font-family: $font-main;
}

.general-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  &__search-form {
    justify-content: left;
    order: -2;
  }
}

.films {
  display: flex;
  margin: 20px;
  justify-content: center;

  flex-wrap: wrap;
}

.films-each {
  background-color: aquamarine;
  //width: 100%;
  list-style: none;
  height: 350px;
  width: 230px;
  padding: 5px;

  &__container {
    &--photo {
      border: black 1px solid;
    }
  }
}

.favorite {
  height: 100%;
  width: 230px;
  background-color: aquamarine;
  flex-direction: row;
  justify-content: center;
  order: -1;
}

.select-fav {
  background-color: rgb(5, 167, 113);
  border: rgb(44, 138, 107) 2px solid;
  color: antiquewhite;
}
