body {
  padding: 2rem;
  height: 100vh;
  background-color: $color-bg;
  font-family: $font-main;
}

.general-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__search-form {
    justify-content: left;
  }
}

.films {
  //sflex-direction: row;
}

.films-each {
  display: flex;
  background-color: aquamarine;
  //width: 100%;
  list-style: none;
  height: 350px;
  width: 230px;
  border: solid rgb(85, 173, 144);
  &__container {
    &--photo {
      border: black 1px solid;
    }
  }
}

.favorite {
  height: 100px;
  width: 230px;
  background-color: aquamarine;
  flex-direction: row;
  flex-grow: inherit;
  justify-content: center;
}

.select-fav {
  background-color: rgb(5, 167, 113);
  border: rgb(44, 138, 107) 2px solid;
  color: antiquewhite;
}
